<ion-header>
  <ion-toolbar color="primary">
    <ion-title *ngIf="isDiagnosticDone == false">Página Inicial</ion-title>
    <ion-title *ngIf="isDiagnosticDone == true">Resultados do Diagnóstico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isDiagnosticDone == false">
    <img src="../assets/imgs/home.png">

    <ion-fab right bottom>
      <button ion-fab [navPush]="formListPage">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>
  </div>

  <div style="padding: 16px" *ngIf="isDiagnosticDone == true">
    <div style="display: block;">
      <canvas baseChart [data]='doughnutChartData' [labels]='doughnutChartLabels' [chartType]='doughnutChartType'>
      </canvas>
    </div>

    <div style="display: block;">
      <canvas baseChart [datasets]='BarChartDataSets' [labels]='BarChartLabels' [chartType]='BarChartType' [options]='BarObjectOptions'>
      </canvas>
    </div>

    <button ion-button block [navPush]="formListPage">Editar Diagnóstico</button>
    <button ion-button block (click)="revert()">Reverter</button>
  </div>
</ion-content>