<ion-header>
  <ion-toolbar color="primary">
    <ion-title *ngIf="diagnostics.length == 0">Página Inicial</ion-title>
    <ion-title *ngIf="diagnostics.length > 0">Meus Diagnósticos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="diagnostics.length == 0">
    <img src="../assets/imgs/home.png">
  </div>

  <div padding *ngIf="diagnostics.length > 0">
    <ion-list>
      <button ion-item *ngFor="let diagnostic of diagnostics; let i = index" (click)="goToDiagnostic(diagnostic.id)">
        <h1 ion-text>Diagnóstico {{i+1}}</h1>
        <p ion-text>Data do Diagnóstico: {{diagnostic.date}}</p>
      </button>
    </ion-list>
  </div>

  <ion-fab right bottom>
    <button ion-fab (click)="createDiagnostic()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>