<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only (click)="onGoBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Diagnóstico Financeiro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item no-lines *ngFor="let category of categories; let i = index">
      <ion-card [navPush]="formPage" [navParams]="category">
        <img src="{{category.image}}"/>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col col-11 style="padding-left: 0px">
                <h1 style="white-space: normal;">
                  {{category.name}}
                </h1>
              </ion-col>
              <ion-col col-1>
                <ion-badge *ngIf="numberList[i] != null" color="accent">{{numberList[i]}}</ion-badge>
                <ion-badge *ngIf="numberList[i] == null" color="accent">0</ion-badge>
              </ion-col>
            </ion-row>
            <ion-row>
              <p style="white-space: normal;">
                {{category.description}}
              </p>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>

</ion-content>