<ion-header>
    <ion-navbar #navbar color="primary">
        <ion-title>{{category.name}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <form [formGroup]="form" class="form" *ngIf="category.name === 'Receitas'" (ngSubmit)="onSubmit(form.value, form.controls.formArray.controls.length)">
        <div formArrayName="formArray">
            <ion-list [formGroupName]="i" *ngFor="let income of form.controls.formArray.controls; let i = index">
                <ion-item>
                    <ion-label floating>Nome</ion-label>
                    <ion-input formControlName="name" type="text"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>Valor (em R$)</ion-label>
                    <ion-input formControlName="value" type="number"></ion-input>
                </ion-item>
                <span float-right ion-button icon-left clear *ngIf="form.controls.formArray.length > 1" (click)="removeField(i)">
                    <ion-icon name="close"></ion-icon>
                    Remover Receita
                </span>
            </ion-list>
            <span ion-button float-left icon-left clear (click)="addField()">
                <ion-icon name="add"></ion-icon>
                Adicionar Receita
            </span>
        </div>

        <button round [disabled]="form.invalid" type="submit" ion-button block color="primary">
            Concluir
        </button>
    </form>

    <form [formGroup]="form" class="form" *ngIf="category.name === 'Desembolso Fixo Obrigatório'" (ngSubmit)="onSubmit(form.value, form.controls.formArray.controls.length)">
        <div formArrayName="formArray">
            <ion-list [formGroupName]="i" *ngFor="let dfo of form.controls.formArray.controls; let i = index">
                <ion-item>
                    <ion-label floating>Nome</ion-label>
                    <ion-input formControlName="name" type="text"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>Valor (em R$)</ion-label>
                    <ion-input formControlName="value" type="number"></ion-input>
                </ion-item>
                <span float-right ion-button icon-left clear *ngIf="form.controls.formArray.length > 1" (click)="removeField(i)">
                    <ion-icon name="close"></ion-icon>
                    Remover Desembolso
                </span>
            </ion-list>
            <span ion-button float-left icon-left clear (click)="addField()">
                <ion-icon name="add"></ion-icon>
                Adicionar Desembolso
            </span>
        </div>

        <button round [disabled]="form.invalid" type="submit" ion-button block color="primary">
            Concluir
        </button>
    </form>

    <form [formGroup]="form" class="form" *ngIf="category.name === 'Desembolso Fixo Não-Obrigatório'" (ngSubmit)="onSubmit(form.value, form.controls.formArray.controls.length)">
        <div formArrayName="formArray">
            <ion-list [formGroupName]="i" *ngFor="let dfno of form.controls.formArray.controls; let i = index">
                <ion-item>
                    <ion-label floating>Nome</ion-label>
                    <ion-input formControlName="name" type="text"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>Valor (em R$)</ion-label>
                    <ion-input formControlName="value" type="number"></ion-input>
                </ion-item>
                <span float-right ion-button icon-left clear *ngIf="form.controls.formArray.length > 1" (click)="removeField(i)">
                    <ion-icon name="close"></ion-icon>
                    Remover Desembolso
                </span>
            </ion-list>
            <span ion-button float-left icon-left clear (click)="addField()">
                <ion-icon name="add"></ion-icon>
                Adicionar Desembolso
            </span>
        </div>

        <button round [disabled]="form.invalid" type="submit" ion-button block color="primary">
            Concluir
        </button>
    </form>

    <form [formGroup]="form" class="form" *ngIf="category.name === 'Desembolso Variável Obrigatório'" (ngSubmit)="onSubmit(form.value, form.controls.formArray.controls.length)">
        <div formArrayName="formArray">
            <ion-list [formGroupName]="i" *ngFor="let dvo of form.controls.formArray.controls; let i = index">
                <ion-item>
                    <ion-label floating>Nome</ion-label>
                    <ion-input formControlName="name" type="text"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>Valor (em R$)</ion-label>
                    <ion-input formControlName="value" type="number"></ion-input>
                </ion-item>
                <span float-right ion-button icon-left clear *ngIf="form.controls.formArray.length > 1" (click)="removeField(i)">
                    <ion-icon name="close"></ion-icon>
                    Remover Desembolso
                </span>
            </ion-list>
            <span ion-button float-left icon-left clear (click)="addField()">
                <ion-icon name="add"></ion-icon>
                Adicionar Desembolso
            </span>
        </div>

        <button round [disabled]="form.invalid" type="submit" ion-button block color="primary">
            Concluir
        </button>
    </form>

    <form [formGroup]="form" class="form" *ngIf="category.name === 'Desembolso Variável Não-Obrigatório'" (ngSubmit)="onSubmit(form.value, form.controls.formArray.controls.length)">
        <div formArrayName="formArray">
            <ion-list [formGroupName]="i" *ngFor="let dvno of form.controls.formArray.controls; let i = index">
                <ion-item>
                    <ion-label floating>Nome</ion-label>
                    <ion-input formControlName="name" type="text"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>Valor (em R$)</ion-label>
                    <ion-input formControlName="value" type="number"></ion-input>
                </ion-item>
                <span float-right ion-button icon-left clear *ngIf="form.controls.formArray.length > 1" (click)="removeField(i)">
                    <ion-icon name="close"></ion-icon>
                    Remover Desembolso
                </span>
            </ion-list>
            <span ion-button float-left icon-left clear (click)="addField()">
                <ion-icon name="add"></ion-icon>
                Adicionar Desembolso
            </span>
        </div>

        <button round [disabled]="form.invalid" type="submit" ion-button block color="primary">
            Concluir
        </button>
    </form>

    <form [formGroup]="form" class="form" *ngIf="category.name === 'Ativos Financeiros'" (ngSubmit)="onSubmit(form.value, form.controls.formArray.controls.length)">
        <div formArrayName="formArray">
            <ion-list [formGroupName]="i" *ngFor="let af of form.controls.formArray.controls; let i = index">
                <ion-item>
                    <ion-label floating>Produto Financeiro</ion-label>
                    <ion-input formControlName="product" type="text"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>Tipo</ion-label>
                    <ion-input formControlName="type" type="text"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>Instituição Financeira</ion-label>
                    <ion-input formControlName="institution" type="text"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>Data de Investimento</ion-label>
                    <ion-input formControlName="invDate" type="text"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>Valor Inicial</ion-label>
                    <ion-input formControlName="initialValue" type="number"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>Valor Atual</ion-label>
                    <ion-input formControlName="currentValue" type="number"></ion-input>
                </ion-item>
                <span float-right ion-button icon-left clear *ngIf="form.controls.formArray.length > 1" (click)="removeField(i)">
                    <ion-icon name="close"></ion-icon>
                    Remover Ativo
                </span>
            </ion-list>
            <span ion-button float-left icon-left clear (click)="addField()">
                <ion-icon name="add"></ion-icon>
                Adicionar Ativo
            </span>
        </div>

        <button [disabled]="form.invalid" type="submit" ion-button block color="primary">
            Concluir
        </button>
    </form>

    <form [formGroup]="form" class="form" *ngIf="category.name === 'Ativos Não-Financeiros'" (ngSubmit)="onSubmit(form.value, form.controls.formArray.controls.length)">
        <div formArrayName="formArray">
            <ion-list [formGroupName]="i" *ngFor="let anf of form.controls.formArray.controls; let i = index">
                <ion-item>
                    <ion-label floating>Descrição</ion-label>
                    <ion-input formControlName="description" type="text"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>Tipo</ion-label>
                    <ion-input formControlName="type" type="text"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>Data Compra</ion-label>
                    <ion-input formControlName="buyDate" type="text"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>Fornecedor</ion-label>
                    <ion-input formControlName="provider" type="text"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>Valor Compra</ion-label>
                    <ion-input formControlName="buyValue" type="number"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>Valor Atual</ion-label>
                    <ion-input formControlName="currentValue" type="number"></ion-input>
                </ion-item>
                <span float-right ion-button icon-left clear *ngIf="form.controls.formArray.length > 1" (click)="removeField(i)">
                    <ion-icon name="close"></ion-icon>
                    Remover Desembolso
                </span>
            </ion-list>
            <span ion-button float-left icon-left clear (click)="addField()">
                <ion-icon name="add"></ion-icon>
                Adicionar Desembolso
            </span>
        </div>

        <button [disabled]="form.invalid" type="submit" ion-button block color="primary">
            Concluir
        </button>
    </form>

    <form [formGroup]="form" class="form" *ngIf="category.name === 'Dívidas'" (ngSubmit)="onSubmit(form.value, form.controls.formArray.controls.length)">
        <div formArrayName="formArray">
            <ion-list [formGroupName]="i" *ngFor="let dividas of form.controls.formArray.controls; let i = index">
                <ion-item>
                    <ion-label floating>Descrição</ion-label>
                    <ion-input formControlName="description" type="text"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>Tipo de Dívida</ion-label>
                    <ion-input formControlName="type" type="text"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>Credor</ion-label>
                    <ion-input formControlName="creditor" type="text"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>Data da Dívida</ion-label>
                    <ion-input formControlName="debtDate" type="number"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>Taxa de Juros</ion-label>
                    <ion-input formControlName="interest" type="number"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>Valor do Principal</ion-label>
                    <ion-input formControlName="mainValue" type="number"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label floating>Valor Remanescente</ion-label>
                    <ion-input formControlName="remainingValue" type="number"></ion-input>
                </ion-item>
                <span float-right ion-button icon-left clear *ngIf="form.controls.formArray.length > 1" (click)="removeField(i)">
                    <ion-icon name="close"></ion-icon>
                    Remover Dívida
                </span>
            </ion-list>
            <span ion-button float-left icon-left clear (click)="addField()">
                <ion-icon name="add"></ion-icon>
                Adicionar Dívida
            </span>
        </div>

        <button [disabled]="form.invalid" type="submit" ion-button block color="primary">
            Concluir
        </button>
    </form>
</ion-content>